.cropTpl select, .cropTpl input, .cropTpl button {
	vertical-align: middle !important;
}

.cropTplInner {
	border: 1px solid #ccc;
	background: #eee;
	padding: 10px;
	border-radius: 5px;
	position: relative;
}

.tvCropContainer {
	/*outline: 1px dotted #eee;*/
	margin: 15px 0;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	background: #f5f5f5;
}

.tvCropContainer button {
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #333;
}

.jcrop-holder {
	display: inline-block;
	*zoom: 1;
	*display: inline;
	vertical-align: top;
}

.jcrop-holder .right {
	padding: 0 !important;
}

.cropTpl {
	margin-bottom: 15px;
}

.cropTpl > div {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

.cropImage {
	max-width: 500px;
}

.cropControls {
	padding: 15px 0 5px;
	text-align: center;
}

.cropControls label {
	display: inline-block;
	width: 60px;
	margin-bottom: 7px;
}

.cropControls input[type="text"] {
	width: 40px !important;
}

.cropControls input[disabled], .cropControls button[disabled] {
	color: #999;
}

.withError {
	box-shadow: 0px 0px 3px red;
	border: 1px solid red !important;
	
}

.cropPreview {
	height: 142px;
	overflow: hidden;
	position: fixed;
	bottom: 15px;
	right: 15px;
	z-index: 3;
	border: 1px solid #777;
	display: none;
	box-shadow: 0 0 10px 3px rgba(0,0,0,.5);
}

.cropParamsAccept {
	/*position: relative;
	bottom: 12px;
	left: 5px;*/
	width: 35px;
	overflow: auto;
}

div.imageInfo {
	font: bold 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #999;
	padding-bottom: 5px;
	display: block;
	margin: 0;
}

.imageInfo span {
	cursor: pointer;
	color: #E0B8BD;
}

.imageInfo span:hover {
	color: red;
}

.cropIt {
	width: 122px;
}



.cropTpl input[type="image"] {
	width: 16px !important;
	height: 16px !important;
	background: none;
}

.cropTpl input[type="image"]:hover {
	opacity: .8;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
}

.cropTpl input[type="image"][disabled] {
	opacity: .3;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);
	cursor: default;
}

.croppedPreview {
	max-width: 300px;
}

.closeWA {
	position: absolute;
	top: -5px;
	right: 5px;
	color: #E0B8BD;
	font-size: 22px;
	cursor: pointer;
}

.closeWA:hover {
	color: red;
}